<div class="container mx-auto">
  <div id="notice" class="bg-green-100 text-green-700 p-4 mb-4">
    <%= notice %>
  </div>

  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <p class="mb-4">
      <strong class="text-gray-700">Name:</strong>
      <%= @customer.name %>
    </p>

    <p class="mb-4">
      <strong class="text-gray-700">Email:</strong>
      <%= @customer.email %>
    </p>

    <p class="mb-4">
      <strong class="text-gray-700">Phone:</strong>
      <%= @customer.phone %>
    </p>

    <p class="mb-4">
      <strong class="text-gray-700">Address:</strong>
      <%= @customer.address %>
    </p>

    <p class="mb-4">
      <strong class="text-gray-700">User:</strong>
      <%= @customer.user_id %>
    </p>
  </div>

  <div class="mt-4">
    <%= link_to 'Edit', edit_customer_path(@customer), class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-4' %>
    <%= link_to 'Back', customers_path, class: 'bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded' %>
  </div>
</div>
